@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

main{
margin: 10px;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: 0;
outline: none;

font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  margin: 0;
  padding: 0;
  background: url('images/IMG_0615.JPG') center center no-repeat;
  background-size: cover;
  height: 100vh;
}
.header {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100%;
  padding: 2rem 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 30px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: black;
  animation: showRight 1s ease forwards;
  animation-delay: 0.5s;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  margin: 20px;
  font-weight: 500;
  transition: 0.5s;
  position: relative;
}
.navbar a:hover, 
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 400px;
}

.home-content h1{
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
  color: white;
}

.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}
.home-content .text-animater h3{
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}

.home-content p{
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  
}

.image-container {
    float: right;
    margin: auto;
}
.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

img {
  width:100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: auto;
}


/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}
